@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none{
    @apply hidden;
}

/* #selectedFilesHeader {
    display: none;
} */

/* #removeAdsButton {
    display: none;
    margin-left: auto;
    margin-right: auto;
} */

#error-page{
    display:none;
}

#restartProcess{
    display: none;
}

/* 
#panel-derecho{
    display: none;
} */

.d-none {
    display: none;
}  

.progreso{
    display: none;
}

/* Sombras para el tema claro */
html:not(.dark) .my-button.dz-drag-hover {
    box-shadow: 0 0 20px 10px grey; 
}

/* Sombras para el tema oscuro */
html.dark .my-button.dz-drag-hover {
    box-shadow: 0 0 20px 10px lightblue;
}
  
.file-preview {
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #F3F4F6; 
    color: black; 
    text-align: center;
}

@media (min-width: 768px) {
    .file-preview {
        display: inline-block;
    }
}

.dark .file-preview {
    --tw-bg-opacity: 1;
    background-color: rgb(100 116 139 / var(--tw-bg-opacity));
    color: white; /* Color de texto para el tema oscuro. */
}